In [1]:
import pandas as pd
import dash
import plotly.express as px

df = pd.read_csv(
        'https://raw.githubusercontent.com/mcgovernplotly/DinoDashboard/main/DinoData.csv')

Period_list = list(df["Period"].unique())
Period_list.sort()
#periodCount = df['Period'].count
#groupPeriod = df.groupby('Period').count()
# groupPeriod = df.groupby('Period').count()
# print(groupPeriod)
#df['Period'] = df['Period'].replace(np.nan, 0)
#df['Period'] = df['Period'].str.replace(" ","").astype(int)
#df['Period'] = int(float(df['Period']))
rows = len(df.axes[0])
print(rows)

307

In [7]:
df.groupby(['Latitude', 'Longitude','Period'], as_index=False).count()

,Latitude,Longitude,Period,name_old,Name,diet_old,Diet,period_yearsago,years_ago,MillionsYears,Country,type_old,Type,length,taxonomy,named_by,species_old,Species,Link
0,-34.603722,-58.381592,Early Cretaceous,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
1,-34.603722,-58.381592,Early Jurassic,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2,-34.603722,-58.381592,Late Cretaceous,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
3,-34.603722,-58.381592,Late Jurassic,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,-34.603722,-58.381592,Late Triassic,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,55.378100,3.436000,Mid Jurassic,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
62,56.130400,-106.346800,Late Cretaceous,13,13,13,13,13,13,13,13,13,13,13,13,13,11,11,13
63,56.130400,-106.346800,Late Jurassic,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
64,61.524000,105.318800,Early Cretaceous,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
65,61.524000,105.318800,Late Cretaceous,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1